{% load static %}
<html lang="pl">
        <head>
            <meta charset="UTF-8">
            <title>Blog dla programistów</title>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
            <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        </head>
<body>
    <div class="page-header">
        <h1><a href="">Witam na stronie bloga dla programistów</a></h1>
        <h2>Blog o programowaniu</h2>
    </div>

    {% comment "Komentarz autora" %}
    Tutaj lista postów
    {% endcomment %}

<div class="content container">
    <div class="row">
    {% for post in posts %}
    <div class="col-md-8">
        <div class="post">
            <div class="data">
                <p>opublikowany: {{ post.published_date }}</p>
            </div>
            <h2><a href="">{{ post.title }}</a></h2>
            <em>{{ post.text|linebreaksbr }}</em>
        </div>
    {% endfor %}
    </div>
    </div>
</div>
    <div class="stopka">

    </div>
</body>

</html>